# electron.mirror=https://npmmirror.com/mirrors/electron/
# electron.mirror=https://npm.taobao.org/mirrors/electron/
# electron.mirror=https://registry.npmmirror.com/mirrors/electron/ # electron 二进制包镜像

# registry=http://mirrors.cloud.tencent.com/npm/
# electron_mirror=https://mirrors.ustc.edu.cn/electron/
# electron_mirror=https://mirrors.tuna.tsinghua.edu.cn/electron/

# registry=https://registry.npmjs.org

# home=https://npm.taobao.org
# electron_mirror=https://npmmirror.com/mirrors/electron/
# sass_binary_site="https://npm.taobao.org/mirrors/node-sass/"
# phantomjs_cdnurl="http://cnpmjs.org/downloads"
# ELECTRON_MIRROR="https://mirrors.huaweicloud.com/electron/"
# sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"
# chromedriver_cdnurl="https://npm.taobao.org/mirrors/chromedriver"
# puppeteer_download_host = https://npm.taobao.org/mirrors
# selenium_cdnurl=http://npm.taobao.org/mirrors/selenium
# node_inspector_cdnurl=https://npm.taobao.org/mirrors/node-inspector


# registry=https://registry.npmmirror.com/
# node_sqlite3_binary_host_mirror=http://npmmirror.com/mirrors/

# sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
# sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/

registry=https://mirrors.tencent.com/npm/
registry=http://mirrors.tencent.com/npm/
electron_mirror=https://mirrors.tencent.com/npm_mirrors/electron/
sass_binary_site=https://mirrors.tencent.com/npm_mirrors/node-sass/
node_sqlite3_binary_host_mirror=https://mirrors.tencent.com/npm_mirrors/
# chromedriver_cdnurl=https://mirrors.tencent.com/npm_mirrors/chromedriver/
proxy=http://127.0.0.1:12639/
https-proxy=http://127.0.0.1:12639/
strict-ssl=false
http.sslVerify=false